<div class="tweet-container">
  <%= turbo_frame_tag "tweet" do %>
    <p class="hidden"><%= tweet['text'] %></p>
    <p><%= tweet['user']['screen_name'] %></p>
    <%= form_with url: tweet_views_path do |f| %>
      <%= f.hidden_field(:user, value: user.id) %>
      <%= f.submit "Show this Tweet!" %>
    <% end %>
  <% end%>
</div>

