<!DOCTYPE html>
<html>
  <head>
    <title>Moditter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main-nav">
      <%= link_to "Home" %>
      <%= link_to "About" %>
    </nav>
    
    <% if flash.any? %>
      <%= flash.each do |type, msg| %>
        <div class="<%= type %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
