<!DOCTYPE html>
<html>
  <head>
    <title>Moditter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="bg-blue-300 h-5 w-screen p-6 flex justify-left">
      <%= link_to "Home", class: "mr-4" %>
      <%= link_to "About", class: "mr-4" %>
    </nav>
    
    <% if flash.any? %>
      <%= flash.each do |type, msg| %>
        <div class="<%= type %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
